categoryinfo-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CategoryInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="Cover" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>